/*Estilo aplicado al Body para el tipo de letra, color y tamaño*/
body {
  font-family: 'Dancing Script';
  background-color: black;
  color: white;
  font-size: x-large;
}

/*Estilo para los enlaces del menú principal*/
.menu nav a:link, a:visited {
  color: white;
}

/*Marca la página que está activa en el menú*/
.menu nav a.active {
  text-decoration: none;
}

/*Estilo para los enlaces de las fotos secundarias*/
#imagenessecundarias a:visited, a:link {
  color: black;
}

/*Efecto de sombra para las imágenes del site*/
img {
  -webkit-filter: drop-shadow(2px 2px 3px #02010a);
  filter: drop-shadow(2px 2px 3px #02010a);
}

/*Estilo para el contenedor de la imagen central del index.html*/
#imagencentral {
  background-color: #82c3a6;
  text-align: center;
}

/*Imagen central del index.html*/
#imagencentral .imgcen img {
  width: 90%;
  padding: 20px 0 20px 0;
}

#imagenessecundarias div {
  text-align: center;
}

.imagenIzq img{
  transition-property: rotate();
  transition-duration: 0.5s;
}

.imagenIzq img:hover {
  transform: rotate(10deg);
}

.imagenDer img {
  transition-property: translate();
  transition-duration: 0.5s;
}

.imagenDer img:hover {
  transform: translate(20px, -5px);
}

.imagenDer figure img {
  width: 100%;
}
.imagenIzq figure img {
  width: 100%;
}

#imagenesgalerias .fila1 .imggaleria1 {
  -webkit-filter: blur(10px);
  filter: blur(10px);
}

#imagenesgalerias .fila1 .imggaleria2 {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

#imagenesgalerias .fila1 .imggaleria3 {
  -webkit-filter: sepia(90%);
  filter: sepia(90%);
}

#imagenesgalerias .fila2 .imggaleria1 {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

#imagenesgalerias .fila2 .imggaleria3 {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

footer {
  background-color: #C6d5c5;
  border-radius: 0 0 10px 10px;
}

@media (min-width:900px) {
  .contenedor {
    display: flex;
    flex-flow: column;
    width: 900px;
    margin: auto;
    animation-name: contenedor-animacion;
    animation-duration: 1s;
  }
  @-webkit-keyframes contenedor-animacion {
  	0% {
  		position: relative;
  		top: 1000px;
  	}
    70% {
      position: relative;
  		top: -70px;
    }
  	100% {
  		position: relative;
  		top: 0px;
  	}
  }

  header {
    background-color: #5b7989;
    border-radius: 10px 10px 0 0;
    display: flex;
    flex-flow: row;

  }

  header .titulo {
    text-shadow: 2px 2px #02010a;
    padding: 10px 0 10px 20px;
    width: 60%;
  }

  header .menu {
    text-align: right;
    padding: 10px 20px 10px 0;
    width: 40%;
  }

  #imagenessecundarias {
    display: flex;
    flex-flow: row nowrap;
    background-color: #d5c75f
  }
  #imagenesgalerias .fila1 {
    display: flex;
    flex-flow: row nowrap;
    background-color: #d5c75f
  }

  #imagenesgalerias .fila2 {
    display: flex;
    flex-flow: row nowrap;
    background-color: #d5c75f
  }
  div[class*="imggaleria"] {
    width: 33%;
  }
  .imagenIzq {
    width: 50%;
  }
  .imagenDer {
    width: 50%;
  }

  .piepagina {
    display: flex;
    flex-flow: row nowrap;
    color: black;
    margin-bottom: 2%;
  }

  footer h3 {
    margin-bottom: 0;
    margin-top: 5%;
  }

  footer .sociales figure img {
    width: 10%;
    margin-left: 0;
  }

  footer .contacto {
    margin-left: 2%;
    margin-bottom: 2%;
    width: 25%;
    font-size: 0.75em;
  }

  footer .terminos {
    margin-left: 2%;
    margin-bottom: 2%;
    width: 25%;
    font-size: 0.75em;
  }

  footer .sociales {
    margin-left: 2%;
    margin-bottom: 2%;
    width: 25%;
    font-size: 0.75em;
  }

  footer .sociales figure {
    margin-left: 0;
    margin-bottom: 0;
  }

  footer .derechos {
    margin-left: 2%;
    margin-bottom: 2%;
    width: 25%;
    font-size: 0.75em;
  }
}

@media (max-width:899px) {
  .contenedor {
    display: flex;
    flex-flow: column;
    width: 100%;
    margin: auto;
    animation-name: contenedor-animacion;
    animation-duration: 1s;
  }

  @-webkit-keyframes contenedor-animacion {
    0% {
      position: relative;
      top: 1000px;
    }
    70% {
      position: relative;
      top: -70px;
    }
    100% {
      position: relative;
      top: 0px;
    }
  }

  header {
    background-color: #5b7989;
    border-radius: 10px 10px 0 0;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
  }

  header .titulo {
    text-align: center;
    text-shadow: 2px 2px #02010a;
    padding: 10px 0 10px 10px;
    width: 100%;
    order: 1;
  }

  header .menu {
    text-align: center;
    padding: 10px 10px 10px 0;
    width: 100%;
    order: 2;
  }

  #imagenessecundarias {
    display: flex;
    flex-flow: column;
    background-color: #d5c75f
  }
  .imagenIzq {
    width: 100%;
    order: 1;
  }
  .imagenDer {
    width: 100%;
    order: 2;
  }

  #imagenesgalerias {
    display: flex;
    flex-flow: column;
    background-color: #d5c75f
  }

  #imagenesgalerias .fila1 {
    margin: auto;
  }

  #imagenesgalerias .fila2 {
    margin-top: 0px;
  }

  .piepagina {
    display: flex;
    flex-flow: column;
    color: black;
    margin-left: 5%;
    margin-bottom: 5%;
  }

  footer h3 {
    margin-bottom: 0;
    margin-top: 5%;
  }

  footer .contacto {
    margin-left: 2%;
    margin-bottom: 2%;
    width: 100%;
    font-size: 0.75em;
  }

  footer .terminos {
    margin-left: 2%;
    margin-bottom: 2%;
    width: 100%;
    font-size: 0.75em;
  }

  footer .sociales {
    margin-left: 2%;
    margin-bottom: 2%;
    width: 100%;
    font-size: 0.75em;
  }

  footer .sociales figure img {
    width: 5%;
    margin-left: 0;
  }

  footer .sociales figure {
    margin-left: 0;
    margin-bottom: 0;
  }

  footer .derechos {
    margin-left: 2%;
    margin-bottom: 2%;
    width: 100%;
    font-size: 0.75em;
  }
}
