/*Estilo aplicado al Body para el tipo de letra, color y tamaño*/
body {
  font-family: 'Dancing Script';
  background-color: black;
  color: white;
  font-size: x-large;
}

/*Estilo para los enlaces del menú principal*/
.menu nav a:link, a:visited {
  color: white;
}

/*Marca la página que está activa en el menú*/
.menu nav a.active {
  text-decoration: none;
}

/*Estilo para los enlaces de las fotos secundarias*/
#imagenessecundarias a:visited, a:link {
  color: black;
}

/*Efecto de sombra para las imágenes del site*/
img {
  -webkit-filter: drop-shadow(2px 2px 3px #02010a);
  filter: drop-shadow(2px 2px 3px #02010a);
}

/*Estilo para el contenedor de la imagen central del index.html*/
#imagencentral {
  background-color: #82c3a6;
  text-align: center;
}

/*Imagen central del index.html*/
#imagencentral .imgcen img {
  width: 90%;
  padding: 20px 0 20px 0;
}

/*Centrado de imágenes secundarias*/
#imagenessecundarias div {
  text-align: center;
}

/*Efecto de rotación para la imagen*/
.imagenIzq img{
  transition-property: rotate();
  transition-duration: 0.5s;
}

.imagenIzq img:hover {
  transform: rotate(10deg);
}

/*Efecto de movimiento para la imagen*/
.imagenDer img {
  transition-property: translate();
  transition-duration: 0.5s;
}

.imagenDer img:hover {
  transform: translate(20px, -5px);
}

/*Tamaño para cada imagen dentro de su contenedor*/
.imagenDer figure img {
  width: 100%;
}
.imagenIzq figure img {
  width: 100%;
}

/*Efecto para imagen de galería blur*/
#imagenesgalerias .fila1 .imggaleria1 {
  -webkit-filter: blur(10px);
  filter: blur(10px);
}

/*Efecto de grayscale para las imágenes de la galería*/
#imagenesgalerias .fila1 .imggaleria2 {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

/*Efecto sepia para la imagen de la galeria*/
#imagenesgalerias .fila1 .imggaleria3 {
  -webkit-filter: sepia(90%);
  filter: sepia(90%);
}

/*Efecto de grayscale para las imágenes de la galería*/
#imagenesgalerias .fila2 .imggaleria1 {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

/*Efecto de grayscale para las imágenes de la galería*/
#imagenesgalerias .fila2 .imggaleria3 {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

/*Color y borde para el footer*/
footer {
  background-color: #C6d5c5;
  border-radius: 0 0 10px 10px;
}

/*Media Query para resolución de desktop*/
@media (min-width:900px) {

  /*Aspectos de estilo para el contenedor principal, animación y posición*/
  .contenedor {
    display: flex;
    flex-flow: column;
    width: 900px;
    margin: auto;
    animation-name: contenedor-animacion;
    animation-duration: 1s;
  }

  /*Animación para el contenedor*/
  @-webkit-keyframes contenedor-animacion {
  	0% {
  		position: relative;
  		top: 1000px;
  	}
    70% {
      position: relative;
  		top: -70px;
    }
  	100% {
  		position: relative;
  		top: 0px;
  	}
  }

  /*Estilo para el header y bordes*/
  header {
    background-color: #5b7989;
    border-radius: 10px 10px 0 0;
    display: flex;
    flex-flow: row;

  }

  /*Estilo para el header título*/
  header .titulo {
    text-shadow: 2px 2px #02010a;
    padding: 10px 0 10px 20px;
    width: 60%;
  }

  /*Estilo para el menú del header*/
  header .menu {
    text-align: right;
    padding: 10px 20px 10px 0;
    width: 40%;
  }

  /*Estilo para fila de imágenes secundarias para que se pueda mostrar en 2 columnas*/
  #imagenessecundarias {
    display: flex;
    flex-flow: row nowrap;
    background-color: #d5c75f
  }

  /*Estilo para fila de imágenes galería fila 1 para que se pueda mostrar en 3 columnas*/
  #imagenesgalerias .fila1 {
    display: flex;
    flex-flow: row nowrap;
    background-color: #d5c75f
  }

  /*Estilo para fila de imágenes galería fila 2 para que se pueda mostrar en 3 columnas*/
  #imagenesgalerias .fila2 {
    display: flex;
    flex-flow: row nowrap;
    background-color: #d5c75f
  }

  /*Estilo para cada imagen de la galería*/
  div[class*="imggaleria"] {
    width: 33%;
  }

  /*Tamaño para cada imagen secundaria de index*/
  .imagenIzq {
    width: 50%;
  }

  /*Tamaño para cada imagen secundaria de index*/
  .imagenDer {
    width: 50%;
  }

  /*Estilo para el contenedor del pie de página*/
  .piepagina {
    display: flex;
    flex-flow: row nowrap;
    color: black;
    margin-bottom: 2%;
  }

  /*Estilo para títulos del footer*/
  footer h3 {
    margin-bottom: 0;
    margin-top: 5%;
  }

  /*Estilo para contacto*/
  footer .contacto {
    margin-left: 2%;
    margin-bottom: 2%;
    width: 25%;
    font-size: 0.75em;
  }

  /*Estilo para términos*/
  footer .terminos {
    margin-left: 2%;
    margin-bottom: 2%;
    width: 25%;
    font-size: 0.75em;
  }

  /*Estilo para redes sociales*/
  footer .sociales {
    margin-left: 2%;
    margin-bottom: 2%;
    width: 25%;
    font-size: 0.75em;
  }

  /*Estilo contenedor de imágenes redes sociales*/
  footer .sociales figure {
    margin-left: 0;
    margin-bottom: 0;
  }

  /*Tamaño para iconos de redes sociales*/
  footer .sociales figure img {
    width: 10%;
    margin-left: 0;
  }

  /*Estilo contenedor para derechos*/
  footer .derechos {
    margin-left: 2%;
    margin-bottom: 2%;
    width: 25%;
    font-size: 0.75em;
  }
}

/*Estilos responsive para resolución menor a la desktop*/
@media (max-width:899px) {

  /*Aspectos de estilo para el contenedor principal, animación y posición*/
  .contenedor {
    display: flex;
    flex-flow: column;
    width: 100%;
    margin: auto;
    animation-name: contenedor-animacion;
    animation-duration: 1s;
  }

  /*Animación para el contenedor*/
  @-webkit-keyframes contenedor-animacion {
    0% {
      position: relative;
      top: 1000px;
    }
    70% {
      position: relative;
      top: -70px;
    }
    100% {
      position: relative;
      top: 0px;
    }
  }

  /*Estilo para el header y bordes*/
  header {
    background-color: #5b7989;
    border-radius: 10px 10px 0 0;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
  }

  /*Estilo para el header título*/
  header .titulo {
    text-align: center;
    text-shadow: 2px 2px #02010a;
    padding: 10px 0 10px 10px;
    width: 100%;
    order: 1;
  }

  /*Estilo para el menú del header*/
  header .menu {
    text-align: center;
    padding: 10px 10px 10px 0;
    width: 100%;
    order: 2;
  }

  /*Estilo para columna de imágenes secundarias para que se pueda mostrar en 1 columna*/
  #imagenessecundarias {
    display: flex;
    flex-flow: column;
    background-color: #d5c75f
  }

  /*Tamaño para cada imagen secundaria de index*/
  .imagenIzq {
    width: 100%;
    order: 1;
  }

  /*Tamaño para cada imagen secundaria de index*/
  .imagenDer {
    width: 100%;
    order: 2;
  }

  /*Estilo para mostrar en una sola columna móvil la galería*/
  #imagenesgalerias {
    display: flex;
    flex-flow: column;
    background-color: #d5c75f
  }

  /*Márgenes para la fila 1*/
  #imagenesgalerias .fila1 {
    margin: auto;
  }

  /*Márgenes para la fila 2*/
  #imagenesgalerias .fila2 {
    margin-top: 0px;
  }

  /*Estilo para pie de página móvil*/
  .piepagina {
    display: flex;
    flex-flow: column;
    color: black;
    margin-left: 5%;
    margin-bottom: 5%;
  }

  /*Estilo para títulos del footer*/
  footer h3 {
    margin-bottom: 0;
    margin-top: 5%;
  }

  /*Estilo para contacto*/
  footer .contacto {
    margin-left: 2%;
    margin-bottom: 2%;
    width: 100%;
    font-size: 0.75em;
  }

  /*Estilo para términos*/
  footer .terminos {
    margin-left: 2%;
    margin-bottom: 2%;
    width: 100%;
    font-size: 0.75em;
  }

  /*Estilo para redes sociales*/
  footer .sociales {
    margin-left: 2%;
    margin-bottom: 2%;
    width: 100%;
    font-size: 0.75em;
  }

    /*Estilo contenedor de imágenes redes sociales*/
  footer .sociales figure {
    margin-left: 0;
    margin-bottom: 0;
  }

  /*Tamaño para iconos de redes sociales*/
  footer .sociales figure img {
    width: 5%;
    margin-left: 0;
  }

  /*Estilo contenedor para derechos*/
  footer .derechos {
    margin-left: 2%;
    margin-bottom: 2%;
    width: 100%;
    font-size: 0.75em;
  }
}
